@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : custom styles */
body {
  font-family: "Poppins", sans-serif;
}
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
